/**
* base style
* Author: cheris
* cherislive@163.com
* Note: bace css for mobile
* Version: 1.0.3
* Data: 2016/07/08
*/
@charset "utf-8";
body, 
div,dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,pre,code,
form,fieldset,legend,input,textarea,
p,blockquote,th,td,hr,button,
footer,header,hgroup,menu,nav,section{margin:0;padding:0;box-sizing: border-box}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
html,body{height:100%;-webkit-touch-callout:none; /*系统默认菜单被禁用*/
  -webkit-user-select:none; /*webkit浏览器*/
  -khtml-user-select:none; /*早期浏览器*/
  -moz-user-select:none;/*火狐*/
  -ms-user-select:none; /*IE10*/
  user-select:none;}
body{-webkit-tap-highlight-color: rgba(0,0,0,0);}
* {box-sizing: border-box;}
html, body, button, input, select, textarea {font-family:"Helvetica Neue", Helvetica, STHeiTi, sans-serif, "Microsoft YaHei";}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
html{-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
i,em{font-style:normal;}
ol,ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;font-weight:normal}
textarea{overflow:auto;resize:none;outline:none;border:none}
label{cursor:default;}
a,button{cursor:pointer;}
a,a:hover{text-decoration:none;}
iframe{	display: block;}
input{outline:none;}
input[type="submit"]{ border:none;outline:none}
button,input,select,textarea{font-size: 100%;}
button[disabled],html input[disabled]{cursor: default;}
input[type="checkbox"],input[type="radio"] {padding:0;box-sizing:border-box; vertical-align:-2px; margin:0px 3px 0px 0px; cursor:pointer;}
.inline-block {display: inline-block; *display: inline; zoom: 1;}
::-webkit-input-placeholder{color:#ccc;}
:-moz-placeholder{ color:#ccc;}
::-moz-placeholder{color:#ccc;}
:-ms-input-placeholder{color:#ccc;}
a {outline: none;-moz-outline-style:none;}
.tl{ text-align:left !important;}
.tc{ text-align:center;}
.tr{ text-align:right;}
.bc{ margin-left:auto; margin-right: auto;}
.fl{ float:left;}
.fr{ float:right;}
.vm{ vertical-align:middle;}
.vt{ vertical-align:top;}
.pr{ position:relative;}
.pa{ position:absolute;}
.abs-right{ position: absolute; right:0;}
.abs-left{ position: absolute; left:0;}
.hidden{display:none;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.no-unl{text-decoration:none;}
.word-break{word-break:break-all; word-wrap:break-word;}
.bg-none{ background:none !important;}
.bn{ border:none !important;}
.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
.ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

